# Build dirs
build*/
cmake-build*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.ninja
*.ninja_deps
*.ninja_log

# Qt Creator / IDE
*.user
*.pro.user*
*.autosave
.qtc_clangd/
.qtcsettings
qtcsettings.cmake

# Qt generated
moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp
*_autogen/

# Objects / binaries
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib
*.exe
*.apk

# Debug / temp
*.pdb
*.ilk
*.idb
*.log
*.tmp
*.stash
